@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
  font-size: larger;
}

div.card {
  margin-top: 0.6rem;
}

.table {
  margin-top: 0.6rem;
}
